.login-page {
  align-items: center;
  background-color: #fff2e1;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  mix-blend-mode: normal;
  width: 100vw;
}

.login-form {
  background-color: rgb(255, 255, 244);
  box-shadow: -4px 9px 13px rgba(156, 151, 122, 0.3);
  display: flex;
  flex-direction: column;
  padding: 90px 110px;
}

.email-input , .password-input {
  border: 2px solid #003be5;
  box-sizing: border-box;
  color: #003be5;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  line-height: 14px;
  margin: 0 0 10px;
  padding: 0 15px;
  text-align: center;
  width: 330px;
}

.email-input::placeholder , .password-input::placeholder {
  color: #748fe0;
  text-align: center;
}

.email-input:hover , .password-input:hover {
  border: 2px solid #ff0062;
  scale: 1.02;
}

.email-input:focus , .password-input:focus {
  border: 2px solid #ff0062;
  outline: 0;
}

.button-login {
  background-color: #da1546;
  border: 1px solid #da1546;
  color: white;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  width: 330px;
}

.button-login:disabled {
  background-color: #a0a0a0;
  border: 1px solid #a0a0a0;
  cursor: default;
  scale: 1;
}

.button-login:hover:enabled {
  cursor: pointer;
  opacity: 0.9;
  scale: 1.03;
  user-select: none;
}

.button-login:active:enabled {
  cursor: pointer;
  opacity: 0.7;
  user-select: none;
}

